*{
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
}


.bg-universe {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

.titolo{
  letter-spacing: 5px;
  z-index: 1;
  position: relative;
  color: rgb(255, 255, 255);
  font-size: 5rem;
  font-weight: bolder;
  text-shadow:
  0 0 5px white,
  0 0 10px rgb(98, 150, 180),
  0 0 20px rgb(117, 162, 181),
  0 0 30px white,
  0 0 40px rgb(117, 162, 181);
}

.hero{
  height: 100vh;
}

.b-custom{
  height: 70px;
  width: 400px;
  transition: 0.5s;
  background: rgba(177, 177, 177, 0.1);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(177, 177, 177, 0.15);
  color: whitesmoke;
}

.b-custom:hover{
  background: whitesmoke(117, 118, 160, 0.24);
  border-radius: 16px;
  box-shadow: 0 4px 30px whitesmoke;
  backdrop-filter: blur(8.3px);
  -webkit-backdrop-filter: blur(8.3px);
  border: 1px solid whitesmoke(21, 25, 140, 0.21);
  color: whitesmoke(0, 0, 0, 0.1);
}

.title-galaxy2 {
  color: whitesmoke;
  font-weight: bolder;
  overflow: hidden;
  white-space: nowrap;
  border-right: .15em solid #fff;
  animation:
  typing 3s steps(20, end),
  blink-caret .75s step-end infinite;
}

@keyframes typing {
  from { width: 0; }
  to { width: 100%; }
}
@keyframes blink-caret {
  from, to { border-color: transparent; }
  50% { border-color: #fff; }
}

.navbar a{
  border-bottom: 2px solid transparent;
  transition: 0.3s;
  font-size: 18px;
}

.navbar a:hover{
  border-bottom: 2px solid white;
}

.navbar, .glass-card{
  background: rgba(177, 177, 177, 0.1);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(177, 177, 177, 0.15);
}

.card-text {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;  
  overflow: hidden;
  text-overflow: ellipsis;
}

.card {
  height: 22rem;
}

@media (max-width: 768px) {
  .titolo {
    font-size: 2.3rem;
  }

  .title-galaxy2 {
    white-space: normal;  
    display: inline-block; 
    width: auto; 
  }
}